{
  "presets": [
    "es2015"
  ],
  "sourceMaps": "inline",
  "env": {
    "lines": {
      "retainLines": true,
    },
    "plugin": {
      "plugins": ["babel-plugin-rewire"]
    },
    "linesplugin": {
      "retainLines": true,
      "plugins": ["babel-plugin-rewire"]
    },
  }
}
